/*Mobile first*/
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: var(--white);
}
:root {
  --background: #202020;
  --white: #eeeeee;
  --intenseRed: #ff0000;
  --interRed: #950101;
  --darkRed: #3d0000;
}
body {
  background-color: var(--background);
}
#header {
  width: 100%;
  height: 56px;
}

/*Media query para desktop*/
@media (min-width: 768px) {
  body {
    background-color: var(--background);
  }
  #header {
    width: 100%;
    height: 70px;
  }
}
