#home {
  width: 100%;
}
.home_container {
  width: 100%;
  z-index: -100;
  position: relative;
}
.img_bg {
  width: 100%;
  object-fit: cover;
  height: 750px;
}
.data_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
  z-index: 100;
}
.group_name {
}
.description {
}

@media (min-width: 768px) {
}
