.frame {
  box-sizing: border-box;
  position: relative;
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin-right: 12px;
}

.center {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:root {
  --menu-icon-line-height: 6px;
  --menu-icon-line-space: 7px;
  --menu-icon-line-offsetY: 3px;
  --menu-icon-height: 36px;
  --cubic-bezier-in: cubic-bezier(0.3, 1, 0.7, 1);
  --cubic-bezier-out: cubic-bezier(1, 0.7, 1, 0.3);
}

.menu_icon {
  width: 100%;
  height: var(--menu-icon-height);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &.active {
    .line_1 {
      animation: line-1-active 0.7s var(--cubic-bezier-in) forwards;
    }
    .line_2 {
      display: none;
    }
    .line_3 {
      animation: line-3-active 0.7s var(--cubic-bezier-in) forwards;
    }
  }
}

.line_1 {
  animation: line-1-rev 0.7s var(--cubic-bezier-in) forwards;
}

.line_2 {
  display: block;
  margin: var(--menu-icon-line-space) 0;
}

.line_3 {
  animation: line-3-rev 0.7s var(--cubic-bezier-in) forwards;
}
.line_1,
.line_2,
.line_3 {
  line-height: var(--menu-icon-line-space);
  height: var(--menu-icon-line-height);
  background-color: #fff;
  border-radius: 3px;
  width: 100%;
  z-index: 50;
}
@keyframes line-1-active {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
  50% {
    transform: translate3d(0, var(--menu-icon-line-offsetY), 0);
  }
  100% {
    transform: translate3d(0, var(--menu-icon-line-offsetY), 0) rotate(135deg);
  }
}
@keyframes line-3-active {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
  50% {
    transform: translate3d(0, calc(var(--menu-icon-line-offsetY) * -1), 0);
  }
  100% {
    transform: translate3d(0, calc(var(--menu-icon-line-offsetY) * -1), 0)
      rotate(-135deg);
  }
}

@keyframes line-1-rev {
  0% {
    transform: translate3d(0, var(--menu-icon-line-offsetY), 0) rotate(135deg);
  }
  50% {
    transform: translate3d(0, var(--menu-icon-line-offsetY), 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes line-3-rev {
  0% {
    transform: translate3d(0, calc(var(--menu-icon-line-offsetY) * -1), 0)
      rotate(-135deg);
  }
  50% {
    transform: translate3d(0, calc(var(--menu-icon-line-offsetY) * -1), 0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@media (min-width: 768px) {
  .frame,
  .center,
  .menu_icon,
  .line_1,
  .line_2,
  .line_3 {
    display: none;
  }
}
