.navbar {
  position: fixed;
  width: 100%;
  height: 56px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
}
.no_styles_link {
  text-decoration: none;
}
.nav_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -700px;
  left: -2000px;
  margin: 0 auto;
  text-align: center;
  transition: background-color 0s, left 0.3s, top 0.3s;
}
.nav_list.active {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--background);
  z-index: 200;
  top: 0;
  left: 0;
  text-align: center;
}

.nav_btn_container {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.nav_link {
  padding: 10px;
}
.nav_link > .no_styles_link {
  padding: 10px;
  transition: all 0.5s;
  font-size: 24px;
  border-radius: 20%;
}
.nav_link:hover > .no_styles_link {
  color: var(--intenseRed);
  border-bottom: 1px solid var(--interRed);
}
.btn_container {
  margin-right: 30px;
}
.nav_btn {
  background-color: var(--intenseRed);
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid var(--background);
  border-radius: 10px;
  transition: all 0.5s;
}
.btn_burguer > .btn_container {
  margin-right: 0;
}
.btn_burguer > .btn_container > .nav_btn {
  font-size: 24px;
}
.nav_btn:hover {
  color: var(--background);
  box-shadow: 5px 5px 30px var(--white);
  background-color: var(--white);
}

@media (min-width: 768px) {
  .nav_list {
    flex-direction: row;
    flex-grow: 2;
    position: static;
    justify-content: end;
    margin-right: 20px;
  }
  .nav_link > .no_styles_link {
    font-size: 18px;
  }
  .btn_container > .nav_btn {
    font-size: 18px;
  }
  .btn_container {
    margin: 0;
  }
  .nav_btn_container {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
  }
  .nav_link > .no_styles_link {
    padding: 10px;
    border-radius: 20%;

    transition: all 0.5 ease-in-out;
  }
  .nav_link {
    margin-left: 20px;
  }
  .nav_link:hover > .no_styles_link {
    color: var(--intenseRed);
    padding: 10px;
    border-bottom: 1px solid var(--interRed);
  }
}
