.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 155px;
  padding: 6px 20px;
  @media (min-width: 910px) {
    padding: 6px 12px;
    width: 170px;
  }
}
.idioma {
  color: var(--white);
  align-items: center;
  font-size: 16px;
  @media (min-width: 910px) {
    padding: 6px 10px;
  }
}
.idioma.color_black {
  color: var(--contrastWhite);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--descriptionColor);
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--hoverBtn);
}
input:checked + .slider:before {
  transform: translateX(32px);
}
