#header {
  background-color: var(--backgroundColor);
  padding: 0 16px;
  display: flex;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1000;
  align-items: center;
  height: 60px;
  width: 100%;
}
.nav {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}
.no_styles_link {
  text-decoration: none;
}
.ul_nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  right: -100%;
  width: clamp(200px, 80%, 80%);
  height: 100%;
  background-color: var(--white);
  transition: right 0.3s ease;
  overflow-y: auto;
  z-index: 100;
}
.ul_nav.active {
  right: 0;
}
.close_btn_container {
  display: flex;
  justify-content: flex-end;
}
.close_btn {
  padding: 14px;
  cursor: pointer;
}
.nav.nav_open::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 50;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.nav.nav_open::before {
  opacity: 1;
}
.li_links {
  list-style: none;
  align-self: flex-start;
  font-size: 1.2rem;
  padding-left: 20px;
  text-align: center;
  padding: 6px 20px;
}
.link {
  color: var(--contrastWhite);
  cursor: pointer;
}
.link:hover {
  border-bottom: 1px solid var(--contrastWhite);
}
.btn {
  width: 140px;
  background-color: var(--hoverBtn);
  color: var(--white);
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--hoverBtn);
}
.btn:hover {
  box-shadow: 0px 0px 20px var(--darkBlue);
  background-color: var(--darkBlue);
}
.menu_btn {
  cursor: pointer;
}
.menu_btn_container {
  display: flex;
}
.menu_btn_container .switch {
  @media (max-width: 415px) {
    display: none;
  }
}

@media (min-width: 910px) {
  #header {
    padding: 0 24px;
  }
  .logo {
    font-weight: bold;
    min-width: max-content;
  }
  .ul_nav {
    display: flex;
    position: static;
    flex-direction: row;
    background-color: transparent;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }
  .menu_btn_container,
  .close_btn_container {
    display: none;
  }
  .li_links {
    padding: 6px 10px;
    align-self: center;
  }
  .link {
    cursor: pointer;
    color: var(--white);
    font-size: 16px;
  }
  .link:hover {
    color: var(--hoverBtn);
    border-bottom: 1px solid var(--hoverBtn);
  }
  .btn {
    width: 120px;
    background-color: var(--hoverBtn);
    color: var(--white);
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--hoverBtn);
  }
}
