.about_container {
  margin-top: 48px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.are {
  font-size: 14px;
}
.title {
  font-size: 30px;
  color: var(--contrastWhite);
  font-weight: bold;
  margin-top: 8px;
}
.desc {
  margin-top: 8px;
  font-size: 16px;
  color: var(--descriptionColor);
}
.extra_info {
  padding: 48px 0 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_container {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  padding: 24px;
  gap: 14px;
  border-radius: 10px;
  border: 1px solid var(--greyBorder);
}
.img_profile {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
}
.data_profile {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.name {
  font-size: 18px;
  color: var(--contrastWhite);
  font-weight: bold;
}
.profesion {
  padding-top: 6px;
  color: #6b7280;
  font-size: 16px;
}
.contact_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.btn_contact_container,
.btn_in_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 6px;
}
.btn_contact_container {
  background-color: var(--backgroundColor);
}
.btn_contact_container:hover {
  background-color: #1e2941;
}
.btn_contact,
.btn_linkedin {
  text-decoration: none;
}
.btn_contact {
  color: var(--white);
}
.btn_linkedin {
  color: var(--backgroundColor);
}
.btn_in_container {
  border: 1px solid var(--greyBorder);
}
.svg {
  margin: 0 8px 0 0;
}
.info_container {
  margin: 48px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.partition_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p_title {
  font-size: 20px;
  color: var(--contrastWhite);
}
.p_desc {
  font-size: 16px;
  color: var(--descriptionColor);
}
@media (min-width: 768px) {
  .about_container {
    padding: 0 24px;
  }
  .intro {
    max-width: 950px;
  }
  .title {
    font-size: 48px;
  }
  .desc {
    font-size: 20px;
  }
  .profile_container {
    gap: 80px;
    justify-content: center;
  }
  .profile {
    min-width: max-content;
  }
  .contact_container {
    margin-top: 10px;
    flex-direction: row;
  }
  .partition_info {
    max-width: 1000px;
    align-items: flex-start;
  }
}
